body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    color: #3e362f;
    position: relative;
    z-index: 1;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.wrapper {
    display: flex;
    color: #3e362f;
}
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.result-block {
    height: 100%;
}
/*-- titles --*/
h1, h2, h3 {
    margin-top: 0;
}
h2 {
    font-size: 18px;
}
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #3e362f;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
}
input[type="text"] {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #7bbfb0;
    outline: none;
}
/*-- group --*/
.group-block-head,
.group-block-body,
.day-block-head,
.day-block-body {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.group-block-wrapper,
.day-wrapper {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: 460px;
}
.group,
.day {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #3e362f;
    text-align: center;
}
.btn {
    color: #fff;
    font-size: 16px;
    background-color: #7bbfb0;
    border: none;
    padding: 20px;
    cursor: pointer;
    outline: none;
}
.btn-cog {
    color: #3e362f;
    font-size: 30px;
    background-color: transparent;
    padding: 0;
}
.btn-test {
    background-color: #3e362f;
    padding: 20px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.add-group-btn,
.add-day-btn {
    display: flex;
    justify-content: center;
    width: 115px;
}
.test-block-wrapper,
.filter-block-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}
.test-block-wrapper {
    overflow-x: scroll;
}
.filter-block-wrapper {
    flex-direction: column;
}
.test-list-wrapper .test-list,
.filter-list-wrapper .filter-list {
    flex-direction: column;
    padding-bottom: 20px;
}
.test-block-wrapper .test,
.filter-block-wrapper .filter {
    justify-content: flex-start;
    background-color: #3e362f;
    padding: 20px 10px;
    margin-right: 10px;
    color: #fff;
}
.filter-block-wrapper .filter {
    flex-grow: 1;
}
.format-test-list {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.format-test-list .test-name {
    padding: 10px;
    border: 1px solid #3e362f;
    margin-bottom: 10px;
}
.format-test-list .btn {
    width: 100%;
}
/*-- modal --*/
.modal {
    position: fixed;
    opacity: 0;
    justify-content: center;
    align-items: center;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal.visible {
    opacity: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    padding: 20px;
}
.modal-group-name,
.modal-group-direction,
.modal-settings-direction {
    width: 45%;
    height: 40px;
    font-size: 20px;
    border: 1px solid #7bbfb0;
}
.modal-settings-direction {
    width: 60%;
}

/* Modal Settings */
#settings-popup.modal-content .left-column-settings {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #3e362f;
}
#settings-popup.modal-content .right-column-settings {
    width: 70%;
    padding: 20px;
}
.direction-list-wrapper {
    display: flex;   
    flex-direction: column;
}
.right-column-settings {
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
}
.column-settings {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    flex-grow: 5;
}
.right-column-settings>div:last-of-type,
.right-column-settings>div:first-of-type {
    flex-grow: 1;
}
.right-column-settings>div:first-of-type {
    justify-content: center;
}
.btn-ft {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.btn-ft:active,
.btn-ft:focus,
.btn-ft:hover {
    background-color: #3e362f;
    color: #7bbfb0;
}
.add-test-btn,
.add-filter-btn,
.add-direction-btn,
.modal-settings-direction {
    display: flex;
    align-self: center;
}
.add-filter-btn {
    margin-top: 10px;
    align-self: stretch;
    justify-content: center;
}
.direction-list-wrapper,
.filter-list-wrapper,
.test-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.test,
.filter,
.result {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3e362f;
}
.filter,
.result {
    display: flex;
    flex-direction: row;
}
.result-item {
    flex-grow: 1;
}
.filter > div,
.result > div {
    margin-right: 20px;
}
.result > div {
    width: 25%;
}
.filter-item {
    display: flex;
    flex-direction: row;
}
.filter-checkbox {
    display: flex;
    align-self: center;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.filter-btn {
    margin: 10px 0 10px 10px;
}

.filter-test-list {
    flex-grow: 1;
}
.test-textarea {
    height: 300px;
    width: 90%;
}
.test-popup {
    display: flex;
    justify-content: space-between;
}
.close-test-btn {
    display: flex;
    align-self: flex-start;
}
    